{% macro displayArticles(articles) %}
    {% for article in articles %}
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
            {{ article.title }}  <span class="badge badge-primary badge-pill">by <a href="{{url_for('main.profile_pic',username=article.author.username)}}">{{ article.author.username }}</a> </span>
            </p>
            <p class="list-group-item list-group-item-action">
                {{ article.article | truncate(500) }}
            </p>
            <p class="list-group-item list-group-item-action disabled">
                <a href="{{ url_for('.single_article',id = article.id) }}">continue reading . . .</a>
                 <span class="badge badge-primary badge-pill">Posted : {{article.posted}} </span>
            </p>
        </div>
    {% endfor %}
{% endmacro %}
